<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-Web</title>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <section class="container-small">
        <div class="col-11 mx-auto">
            <img src="static/webpack.png" class="img-fluid">
        </div>
        <h2 class="text-center">Cambia el código en <a href="#">./src/index.ts</a></h2>
    </section>
</body>
</html>